{% extends "base.html" %}

{% block content %}
    <form action="/login" method="post">
        {% if error %}
            <p class="error">{{error}}</p>
        {% endif %}
        <p>Don't have an account? <a href="/signup">Create one!</a></p>
        <table>
            <tr>
                <td><label for="username">Username:</label></td>
                <td>
                    <input name="username" type="text" value="{{ username }}">
                </td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td>
                    <input name="password" type="password">
                </td>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>
{% endblock %}